Source: mes
Section: devel
Priority: extra
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper (>=11),
 guile-2.2,
 guile-2.2-dev,
 mescc-tools,
 nyacc
Standards-Version: 4.1.5
Homepage: https://gitlab.com/janneke/mes

Package: mes
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Maxwell Equations of Software
 Mes aims to help create full source bootstrapping for GuixSD as part
 of the bootstrappable builds effort.
