Source: mes
Section: devel
Priority: extra
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper-compat (=12),
 git,
 graphviz,
 guile-2.2,
 guile-2.2-dev,
 help2man,
 install-info,
 mescc-tools,
 nyacc,
 texinfo,
Standards-Version: 4.3.0
Homepage: https://www.gnu.org/software/mes/

Package: mes
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 guile-2.2,
Description: Maxwell Equations of Software
 Mes aims to help create full source bootstrapping for GuixSD as part
 of the bootstrappable builds effort.
